@page
@model MethodicalInstructions.Pages.Sessions.IntroductionModel
@{
    ViewData["Title"] = "Введение";
}
<section class="introduction-grid">
    <h2>Введение</h2>
    <p>
        Исходное техническое задание было разбито на логические модули (сервисы) и в процессе обсуждения с заказчиком были уточнены и скорректированы требования.
        Так как предполагается, что информационной системой могут пользоваться одновременно 500 человек, то обязательным требованием является распределенная архитектура системы.
        Все модули системы должны взаимодействовать с помощью API. Для всего решения должна быть спроектирована и реализована база данных. Уровень нормализации данных при хранении в базе – 3НФ.
        Используйте одну БД на протяжении разработки всей системы. При необходимости каждую сессию вы можете вносить модификации в структуру.
        Соблюдайте правила по разработке БД: система именования, связи, правила удаления/обновления, нормализация данных.
        Если исходные данные не предоставлены, то вы должны заполнять таблицы своими тестовыми данными для удобства тестирования реализованного функционала (не менее 3-х записей). Тестовые данные должны быть осмысленными.
    </p>
</section>